<div class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Hacker News</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="new" routerLinkActive="active">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="comment" routerLinkActive="active">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ask" routerLinkActive="active">Ask</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="show" routerLinkActive="active">Show</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="jobs" routerLinkActive="active">Jobs</a>
                </li>

            </ul>

        </div>
    </nav>
</div>